@import 'component/information.scss';
@import 'component/exhibit.scss';

.layout {
  padding: 2% 5%;
}
.header{
  z-index: 1;
}
.ant-layout-footer.fixed{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 0;
}

.main-slick{
  position: fixed;
  top: 111px;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 75vh;
}
.main-slide {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  span{
    width: 100%;
    height: 80vh;
    margin-top: 5px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.ant-carousel-vertical .slick-dots{
  right: 5%;
}
$dotWidth:5px;
$dotHeight:50px;
.ant-carousel-vertical .slick-dots li{
  margin: 5px 2px;
  &.slick-active{
    button{
      width: $dotWidth;
      height: $dotHeight;
      background: #7fa8ce;
      }
  }
  button{
    width: $dotWidth;
    height: $dotHeight;
    opacity: .7;
  }
}
