.ant-list-vertical .ant-list-item-meta-title{
    color: #0a73ca;
}
.ant-list-item-meta-description{
    color:rgba(0,0,0,0.75)
}
.ant-list-vertical .ant-list-item-meta-title{
    margin-bottom: 0;
}
.box-title{
    text-align:center;
    padding:25px 0
}